doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/AccuratePosition.js")
    script(src="/javascripts/puntos.js")
  body
    block content
